@{
    ViewBag.Title = "Home";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Home</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid body-content">
        <div class="container-fluid">
            <div class="row" id="locationContainer">
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts
{
    <script src="~/Scripts/view.js"></script>   
}
